.about-product {
  margin-bottom: 60px;
}

.about-product__info--text {
  padding-right: 10px;
  width: calc(100% - 20px);
}

.about-product__img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 220px;
  margin-bottom: 28px;
  padding: 74px 0 55px 0;
  background-color: $gray;
  border-radius: 35px;
}

.about-product__preview-button {
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
}

.about-product__preview-item {
  padding-left: 11px;
  padding-right: 11px;
}

.about-product__view {
  margin-bottom: 57px;
  max-width: 345px;
  margin-left: auto;
  margin-right: auto;
}

.about-product__preview-list {
  margin-left: -11px;
  margin-right: -11px;
}

.about-product__item {
  padding-top: 28px;
  padding-bottom: 28px;
  border-bottom: 1px solid $gray;
}

.about-product__item--name {
  display: flex;
  align-items: flex-start;
  padding-top: 0;
  padding-bottom: 14px;
}

.about-product__title {
  margin: 0 0 14px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.02em;
  color: $dark-blue;
}

.about-product__price {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.2;
  color: $brown;
}

.about-product__add-like {
  display: block;
  margin-top: 1px;
  margin-left: auto;
}

.about-product__review-wrap {
  display: flex;
  align-items: center;
}

.about-product__review-amount {
  margin: 0;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: $dark-blue;
}

.about-product__content ul {
  margin: 31px 0;
  padding-left: 0;
  list-style: none;
}

.about-product__content li {
  position: relative;
  padding-left: 11px;
  margin-bottom: 15px;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 1.2;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: " ";
    position: absolute;
    left: -1px;
    top: 4px;
    width: 6px;
    height: 6px;
    background-color: $brown;
    border-radius: 100%;
  }
}

.about-product__options-item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.about-product__options-label {
  margin-top: 0;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.about-product__options-checkboxes {
  display: flex;
  flex-wrap: wrap;
}

.about-product__checkboxes-item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.about-product__add-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 29px;
  padding-bottom: 2px;

  &:first-child {
    margin-top: 0;
  }
}

.about-product__characteristic--label {
  margin: 3px 0 10px 0;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.about-product__characteristic--label strong {
  font-weight: 600;
}

.about-product__characteristic--text {
  margin: 0;
  letter-spacing: 0.05em;
  line-height: 1.2;
  font-size: 14px;
}

.about-product__characteristic {
  padding: 14px;
  min-width: 93px;
}

.about-product__item--characteristic {
  padding: 14px 0;
}

.about-product__characteristic-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -14px;
  margin-right: -14px;
}

.about-product__tabs .tab__menu {
  justify-content: flex-start;
}

.about-product__tabs  .tab__menu-item {
  padding-top: 14px;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.about-product__tabs .tab__menu-link {
  font-size: 16px;
  letter-spacing: 0.05em;
}

.about-product__info {
  margin-bottom: 45px;
}

.about-product__tabs .tab__content {
  margin-top: 30px;
}

.about-product__description p {
  margin: 12px 0;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.05em;
}

.about-product__description h3 {
  margin: 12px 0;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.2;
}

.about-product__description {
  margin-right: -2px;
}

.about-product__additional-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: $dark-blue;
}

.about-product__additional-label {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: $dark-blue;
}

.about-product__additional-row {
  display: flex;
  padding: 5px 0;
}

.about-product__additional-title {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: $dark-blue;
}

.about-product__additional-table tbody {
  border-collapse: collapse;
  border-spacing: 0;
}

.about-product__additional-table  {
  margin-left: -3px;
}

.about-product__stars {
  margin-right: 10px;
}

.about-product__characteristic--brand {
  max-width: 100%;
  width: 100%;
  padding-bottom: 8px;
}

.about-product__previews {
  position: relative;
}

@media (max-width: 576px) {
  .about-product__previews {
    text-align: center;
  }

  .about-product__arrow-prev {
    transform: rotate(90deg);
    margin-left: auto;
  }

  .about-product__arrow-next {
    transform: rotate(90deg);
    margin-right: auto;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .about-product__arrow-next,
  .about-product__arrow-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
  }

  .about-product__arrow-next {
    left: -60px;
  }

  .about-product__arrow-prev {
    right: -60px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .about-product__arrow-next,
  .about-product__arrow-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
  }

  .about-product__arrow-next {
    left: 0;
  }

  .about-product__arrow-prev {
    right: 0;
  }
}

@media (min-width: 600px) {
  .about-product__item--choice {
    display: flex;
  }

  .about-product__options {
    margin-left: auto;
    max-width: 230px;
    width: 100%;
    flex-basis: 230px;
  }

  .about-product__review-content {
    flex-basis: calc(100% - 230px);
    width: calc(100% - 230px);
    padding-right: 30px;
  }
}

@media (min-width: 768px) {
  .about-product__view {
    max-width: 690px;
  }

  .about-product__characteristic--brand {
    max-width: 71px;
    padding: 14px 19px;
  }

  .about-product__img-wrap {
    padding-top: 153px;
    padding-bottom: 113px;
  }

  .about-product__item--choice {
    padding-right: 0;
  }

  .about-product__preview-list {
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-product__tabs .tab__menu-item {
    margin-right: 29px;
  }

  .about-product__characteristic--label {
    font-size: 14px;
  }

  .about-product__characteristic--text {
    font-size: 14px;
  }

  .about-product__item--characteristic {
    padding: 24px 0;
  }

  .about-product__characteristic-list {
    margin-left: -19px;
    margin-right: -19px;
  }

  .about-product__characteristic {
    padding: 14px 19px;
    min-width: 106px;
  }

  .about-product__tabs .tab__menu-link {
    font-size: 16px;
  }

  .about-product__additional-title {
    font-size: 16px;
  }

  .about-product__description p {
    font-size: 14px;
  }

  .about-product__characteristic-list--brand-image {
    align-items: center;
  }
}

@media (min-width: 1199px) {
  .about-product {
    margin-top: 127px;
    margin-bottom: 123px;
  }

  .about-product__review-content {
    width: 100%;
  }

  .about-product__options {
    max-width: 300px;
  }

  .about-product__inner {
    display: grid;
    grid-template-columns: 1fr 475px;
    grid-column-gap: 65px;
    grid-row-gap: 82px;
  }

  .about-product__tabs {
    grid-column: 1 / -1;
  }

  .about-product__img-wrap {
    max-width: 410px;
    width: 100%;
    margin-left: auto;
  }

  .about-product__view {
    display: flex;
    align-items: flex-start;
    margin: 0;
    max-width: 100%;
  }

  .about-product__preview-list {
    max-width: 100%;
    width: auto;
  }

  .about-product__previews {
    position: relative;
    order: -1;
    max-width: 90px;
  }

  .about-product__item--choice {
    display: block;
    padding-right: 0;
  }

  .about-product__options {
    margin-left: 0;
  }

  .about-product__review-content {
    padding-right: 0;
  }

  .about-product__item {
    border-bottom: none;
  }

  .about-product__item--name {
    border-bottom: 1px solid $gray;
  }

  .about-product__info {
    margin-bottom: 0;
  }

  .about-product__characteristic-list {
    margin: 0;
    display: block;
  }

  .about-product__characteristic {
    padding: 0;
    display: flex;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .about-product__characteristic--label {
    margin: 0 10px 0 0;
  }

  .about-product__item--characteristic {
    padding: 32px 0;
  }

  .about-product__tabs .tab__content {
    margin-top: 56px;
  }

  .about-product__arrow-next,
  .about-product__arrow-prev {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .about-product__preview-item {
    padding: 15px 0;
  }

  .about-product__arrow-next {
    top: -45px;
  }

  .about-product__arrow-prev {
    bottom: -45px;
  }

  .about-product__preview-list {
    margin-top: -15px;
    margin-bottom: -15px;
  }

  .about-product__characteristic--brand {
    margin-bottom: 14px;
  }
}
