.account__menu-header {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: $gray;
  border-radius: 11px;
}

.account__menu-item--logout {
  display: none;
}

.account__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.02em;
  color: $dark-blue;
}

.account__menu-header-logout {
  font-size: 14px;
  letter-spacing: 0.02em;
  color: $dark-blue;
  text-decoration-line: underline;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

.account__menu {
  margin-bottom: 48px;
}

.account__opportunities p {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: -6px;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 23px;
  color: $dark-blue;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.account__content--favorites {
  padding-top: 18px;
}

@media (max-width: 1198px) {
  .account__menu-list {
    display: flex;
    flex-wrap: wrap;
  }

  .account__menu-list {
    justify-content: center;
  }

  .account__menu__link {
    display: block;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: $dark-blue;
    text-decoration: none;

    @include transition(all);

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }

  .account__menu-item--active {
    &::after {
      content: " ";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: calc(100% - 24px);
      height: 2px;
      background-color: $brown;
      border-radius: 7px;
      transform: translateX(-50%);
    }
  }

  .account__menu-item--active .account__menu__link {
    font-weight: 700;
  }

  .account__menu-item {
    position: relative;
    padding: 11px;
  }
}

@media (min-width: 768px) {
  .account__content--favorites {
    padding-top: 3px;
  }
}

@media(min-width: 768px) and (max-width: 1198px) {
  .account__menu-item {
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 14px;
  }

  .account__menu__link {
    font-size: 14px;
  }

  .account__menu-header {
    margin-bottom: 50px;
  }

  .account__menu {
    margin-bottom: 57px;
  }

  .account__opportunities p {
    margin-right: 0;
  }
}

@media (min-width: 1199px) {
  .account {
    margin-top: 127px;
  }

  .account__content--favorites {
    padding-top: 0;
  }

  .account__inner {
    display: grid;
    grid-template-columns: 255px 635px;
    grid-gap: 30px;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
  }

  .account__menu {
    padding: 30px;
    margin-bottom: 0;
    background-color: $gray;
    border-radius: 11px;
  }

  .account__menu-header {
    display: block;
    padding: 0;
    margin-bottom: 30px;
    background-color: transparent;
  }

  .account__menu-header-logout {
    display: none;
  }

  .account__menu__link {
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $dark-blue;
    text-decoration: none;

    @include transition(all);

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }

  .account__menu-item--active .account__menu__link {
    font-weight: 700;
  }

  .account__menu-item--logout {
    display: list-item;
  }

  .account__menu-item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .account__opportunities {
    padding-top: 28px;
  }

  .account__opportunities p {
    margin-right: 0;
  }
}
