.add-like {
  padding: 0;
  background-color: transparent;
  border: none;

  @include transition(all);

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
    outline: none;
  }
}

.add-like--active path {
  fill: $brown;
}
