.alert--success {
  background-color: $green;
}

.alert--error {
  background-color: $red;
}

.alert {
  padding: 23px 0 20px 0;
}

.alert__inner {
  position: relative;
  display: flex;
  align-items: center;
}

.alert__text {
  flex-basis: calc(100% - 25px);
  width: calc(100% - 25px);
  margin: 0;
  color: $dark-blue;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}

.alert--error .alert__text {
  color: $white;
}

.alert__close {
  position: relative;
  right: -6px;
  top: -1px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;

  @include transition(all);

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

@media (min-width: 576px) {
  .alert__text {
    text-align: center;
  }

  .alert__text {
    font-size: 14px;
  }

  .alert {
    padding: 17px 0 18px;
  }
}

@media (min-width: 1199px) {
  .alert__close {
    margin-right: 17px;
    right: 0;
    top: 0;
  }

  .alert__text {
    flex-basis: calc(100% - 42px);
    width: calc(100% - 42px);
  }
}
