.button {
  padding: 13px 13px 15px 13px;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: $gray;
  background-color: $dark-blue;
  border-radius: 9px;
  border: 1px solid $dark-blue;

  @include transition(all);

  &:hover {
    background-color: transparent;
    color: $dark-blue;
  }

  &:focus {
    outline: none;
    background-color: transparent;
    color: $dark-blue;
  }
}

.button--fluid {
  display: block;
  width: 100%;
}

.button--small {
  padding: 11.5px 12px;
  border-radius: 9px;
}

.button--medium {
  padding: 11.5px;
}
