.buy {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  background-color: transparent;

  @include transition(all);

  &:hover {
    transform: scale(1.1);
  }

  &:focus {
    transform: scale(1.1);
  }
}

.buy__icon {
  margin-right: 10px;
}
