.catalog {
  padding-bottom: 11px;
}

.catalog__info {
  margin: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  letter-spacing: 0.05em;
}

.catalog__sorting {
  margin-bottom: 52px;
}

.catalog__list {
  display: grid;
  justify-content: center;
  grid-gap: 28px;
  margin-bottom: 61px;
}

.catalog__sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog_sort-select .select2-selection__rendered {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.catalog_sort-select .select2-selection__arrow b {
  display: none;
}

.catalog_sort-select .select2-selection__arrow {
  position: relative;
}

.catalog_sort-select .select2-selection__arrow::after {
  content: " ";
  position: absolute;
  top: 9px;
  right: 8px;
  width: 10px;
  height: 10px;
  background-image: url("../img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.catalog_sort-select .select2-selection {
  border: none;
}

.catalog_sort-select {
  margin-right: -10px;
}

@media (min-width: 600px) {
  .catalog {
    padding-bottom: 70px;
  }

  .catalog__list {
    margin-bottom: 100px;
    grid-template-columns: repeat(2, 255px);
    grid-gap: 30px;
  }
}

@media (min-width: 768px) {
  .catalog {
    padding-bottom: 21px;
  }

  .catalog__list {
    margin-bottom: 127px;
  }
}

@media (min-width: 910px) {
  .catalog__list {
    grid-template-columns: repeat(3, 255px);
  }
}

@media (min-width: 1199px) {
  .categories__slider-wrapper {
    max-width: 100%;
  }

  .categories__slider {
    margin-left: 0;
    margin-right: 0;
  }

  .categories__slider-slide {
    padding: 0;
  }

  .categories__slider {
    display: grid;
    grid-template-columns: repeat(6, 160px);
    grid-gap: 30px;
  }

  .categories__slider-arrows {
    display: none;
  }

  .categories--catalog .categories__slider-wrapper {
    margin-top: 40px;
  }

  .catalog__inner {
    display: grid;
    grid-template-columns: 190px 1fr;
    grid-column-gap: 95px;
    grid-row-gap: 40px;
  }

  .catalog__sorting {
    margin-top: -9px;
    margin-bottom: 32px;
  }

  .catalog__list {
    grid-row-gap: 36px;
  }
}
