.main-menu__item {
  position: relative;
  padding-right: 30px;
}

.main-menu__item--drop {
  &::after {
    content: "+";
    position: absolute;
    right: -2px;
    top: 15px;
  }
}

.main-menu__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
  line-height: 1;
  color: $dark-blue;
}

.main-menu__submenu {
  margin-top: 15px;
  margin-bottom: 45px;
  margin-right: -30px;
  padding-left: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  list-style: none;
}

.main-menu__submenu-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 10px;
  letter-spacing: 0.02em;
  line-height: 1;
  font-weight: 500;
  color: $dark-blue;
  text-decoration: none;
  text-align: center;
}

.main-menu__submenu-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94px;
  margin-bottom: 17px;
}

@media(max-width: 767px) {
  .main-menu__item--open {
    &::after {
      content: "-";
    }
  }

  .main-menu__item--open .main-menu__link {
    font-weight: 700;
  }

  .main-menu__submenu-link {
    max-width: 95px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3px;
  }

  .main-menu__submenu-img-wrapper {
    border-radius: 24px;
  }

  .main-menu__submenu-link:focus .main-menu__submenu-img-wrapper {
    box-shadow: 0 0 9px rgba($black, 0.19);
  }

  .main-menu__submenu {
    display: none;
  }

  .main-menu__item--open .main-menu__submenu {
    display: grid;
  }
}

