.menu-footer__top {
  position: relative;
  margin-bottom: 14px;
}

.menu-footer__toggle {
  position: absolute;
  top: 0;
  right: -14px;
  height: 15px;
  width: 40px;
  background-color: transparent;
  border: none;

  &::before,
  &::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    font-weight: 500;
    background-color: $dark-blue;
    transform: translate(-50%, -50%);

    @include transition(all);
  }

  &::after {
    height: 10px;
    width: 2px;
  }

  &:focus {
    outline: none;
  }
}

.menu-footer__list {
  display: none;
}

.menu-footer__column--open .menu-footer__toggle:after {
  opacity: 0;
}

.menu-footer__column--open .menu-footer__list {
  display: block;
}

.menu-footer__title {
  margin: 0;
  font-weight: 500;
  line-height: 1.1;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: $dark-blue;
}

.menu-footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.05em;
  color: $brown;
  text-decoration: none;

  @include transition(opacity);

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.menu-footer__item {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.menu-footer__column {
  margin-bottom: 29px;
}

@media (min-width: 400px) {
  .menu-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-content: center;
  }

  .menu-footer__column {
    margin-bottom: 0;
  }

  .menu-footer__list {
    display: block;
  }

  .menu-footer__toggle {
    display: none;
  }
}

@media (min-width: 475px) {
  .menu-footer {
    grid-template-columns: 180px 180px;
  }
}

@media(min-width: 768px) {
  .menu-footer {
    grid-column-gap: 60px;
    grid-row-gap: 30px;
    justify-content: flex-start;
  }

  .menu-footer__title {
    font-size: 16px;
  }
}

@media (min-width: 850px) {
  .menu-footer {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }

  .menu-footer__column--buy {
    order: -2;
  }

  .menu-footer__column--sell {
    order: -1;
  }
}

@media (min-width: 1199px) {
  .menu-footer {
    grid-template-columns: repeat(4, auto);
    grid-gap: 100px;
  }
}
