.not-found {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 50px 0;
  background-color: $dark-blue;
}

.not-found__inner {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .not-found__img {
    width: 510px;
  }
}

@media (min-width: 1199px) {
  .not-found__img {
    width: 730px;
  }
}
