.pagination__list {
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 39px);
  padding-left: 0;
  list-style: none;
}

.pagination__link {
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  line-height: 1.2;
  font-weight: 500;
  color: $white;
  background-color: $dark-blue;
  border-radius: 12px;

  @include transition(all);

  &:hover,
  &:focus {
    background-color: $brown;
  }
}

.pagination__item--active .pagination__link {
  background-color: $brown;
}

@media (min-width: 375px) {
  .pagination__list {
    grid-gap: 22px;
  }
}

@media (min-width: 1199px) {
  .pagination__list {
    justify-content: flex-start;
  }
}
