.search-modal {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  width: 100%;
  background-color: $dark-blue;
  color: $white;
  z-index: 70;
}

.search-modal .container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 54px;
  padding-bottom: 60px;
  overflow-y: auto;
}

.search-modal--open {
  display: flex;

  @include animation(fadeIn);
}

.search-modal--open .container {
  height: var(--document-height);
}

.search-modal__close {
  position: relative;
  margin: 0 auto;
  padding: 7px;
  width: 30px;
  height: 31px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include transition(all);

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }
}

.search-modal__inner {
  flex-grow: 1;
  display: flex;
  margin: -54px -15px -60px -15px;
  padding: 54px 15px 60px 15px;
  flex-direction: column;
  overflow-y: auto;
}

.search-modal__close-line {
  position: relative;
  display: block;
  height: 1px;
  width: 100%;
  margin-bottom: 4px;
  background-color: $white;
  border-radius: 0;

  &:nth-child(1) {
    top: 5px;
    transform: rotate(45deg);
  }

  &:nth-child(2) {
    top: 0;
    transform: rotate(-45deg);
  }
}

.search-modal__content {
  padding-top: 45px;
  padding-bottom: 60px;
  flex: 1 0 auto;
}

.search-modal__footer {
  flex: 0 0 auto;
}

.search-modal__form-item {
  position: relative;
}

.search-modal__input {
  height: 40px;
  width: 100%;
  padding-left: 14px;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 500;
  color: $gray;
  letter-spacing: 0.05em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $gray;
  appearance: none;
  border-radius: 0;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: rgba($gray, 0.5);
  }
}

.search-modal__submit {
  position: absolute;
  right: -8px;
  top: -2px;
  width: 30px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.search-modal__footer__text {
  margin: 0;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: $gray;
}

.search-modal__footer__text  a {
  color: $gray;
  font-size: 12px;
  letter-spacing: 0.05em;
  font-weight: 700;
  text-decoration: none;

  @include transition(all);

  &:hover {
    color: rgba($gray, 0.6);
  }
}

.search-modal__result {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.search-modal__result-link {
  color: $gray;
  font-size: 12px;
  letter-spacing: 0.05em;
  font-weight: 500;
  text-decoration: none;

  @include transition(all);

  &:hover {
    color: rgba($gray, 0.6);
  }
}

@media (min-width: 600px) {
  .search-modal__result {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .search-modal__content {
    max-width: 540px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .search-modal__result {
    grid-column-gap: 116px;
  }

  .search-modal__inner {
    margin: -54px -39px -60px;
    padding: 54px 39px 60px;
  }
}

@media(min-width: 1100px) {
  .search-modal__inner {
    margin: 0;
    padding: 0;
  }

  .search-modal--open .container {
    padding: 0;
    height: auto;
    overflow-y: initial;
  }

  .search-modal--open {
    height: 100vh;
    overflow-y: auto;
  }

  .search-modal {
    padding-top: 57px;
    padding-bottom: 60px;
    background-color: rgba($dark-blue, 0.95);
  }
}

@media (min-width: 1199px) {
  .search-modal__form-item {
    max-width: 540px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .search-modal__content {
    max-width: 100%;
    padding-top: 113px;
    padding-bottom: 121px;
  }

  .search-modal__submit {
    right: 7px;
  }

  .search-modal__input {
    padding-right: 40px;
  }

  .search-modal__result {
    margin-top: 126px;
    grid-template-columns: repeat(4, 175px);
    grid-row-gap: 11px;
    justify-content: center;
  }

  .search-modal__result-link {
    font-size: 16px;
  }
}
