.site-header {
  position: relative;
  background-color: $dark-blue;
  z-index: 10;
}

.site-header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;

  animation-name: bounceTop;
  animation-duration: 0.5s;
  animation-timing-function: $animation-timing-function;
}

@media(min-width: 1199px) {
  .site-header {
    position: relative;
  }

  .site-header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    animation-name: bounceTop;
    animation-duration: 0.35s;
    animation-timing-function: $animation-timing-function;
  }
}
