.testimonial__list {
  margin-top: 35px;
  margin-left: -15px;
  margin-right: -15px;
}

.testimonial__slider-item {
  padding-left: 15px;
  padding-right: 15px;
}

.testimonial__text-wrap {
  padding: 15px 20px;
  background-color: $gray;
  border-radius: 11px;
}

.testimonial__author-img {
  border-radius: 50%;
}

.testimonial__author {
  display: flex;
  align-items: center;
}

.testimonial__author-info {
  padding-left: 14px;
  width: calc(100% - 50px);
}

.testimonial__author-name {
  margin: 0 0 7px 0;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: $dark-blue;
}

.testimonial__author-theme {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.06em;
  color: $brown;
}

.testimonial__text p {
  font-size: 12px;
  letter-spacing: 0.03em;
  color: $dark-blue;
}

.testimonial__arrows {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
