.user-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 83px;
}

.user-info__item {
  margin-right: 18px;

  &:last-child {
    margin-right: 0;
  }
}

.user-info__link {
  display: block;
  padding: 7px 0 4px 0;
}

.user-info__item--cart--active .user-info__link--cart {
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    top: 14px;
    left: 5px;
    width: 6px;
    height: 6px;
    background-color: $brown;
    border-radius: 50%;
  }
}

@media (min-width: 374px) {
  .user-info {
    max-width: 131px;
  }

  .user-info__item {
    margin-right: 38px;
  }
}

@media(min-width: 768px) {
  .user-info {
    max-width: 130px;
  }
}

@media(min-width: 1199px) {
  .user-info {
    max-width: 250px;
  }

  .user-info__item {
    margin-right: 100px;
  }

  .user-info__link:hover svg,
  .user-info__link:focus svg {
    opacity: 0.6;
  }
}
