.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper .site-footer {
  margin-top: 60px;
}

.wrapper--home .site-footer {
  margin-top: 39px;
}

.wrapper--not-found main {
  display: flex;
  flex-direction: column;
}

.wrapper--not-found .site-footer {
  margin-top: 0;
}


.wrapper--coming-soon {
  background-color: $dark-blue;
  color: $gray;
}

@media (min-width: 768px) {
  .wrapper  .site-footer {
    margin-top: 128px;
  }

  .wrapper--home .site-footer {
    margin-top: 106px;
  }

  .wrapper--not-found .site-footer {
    margin-top: 0;
  }
}

@media (min-width: 1199px) {
  .wrapper .site-footer {
    margin-top: 127px;
  }

  .wrapper--home .site-footer {
    margin-top: 106px;
  }

  .wrapper--not-found .site-footer {
    margin-top: 0;
  }
}
