:root {
  --document-height: 100vh;
}

* {
  box-sizing: inherit;

  *::after {
    box-sizing: inherit;
  }

  *::before {
    box-sizing: inherit;
  }
}

html {
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  font-family: $base-font-family;
  color: $dark-blue;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

main {
  flex: 1 0 auto;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input {
  appearance: none;
  cursor: pointer;
}

textarea {
  appearance: none;
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.overflow-hidden {
  overflow: hidden;
}

.modal-cart-open .overlay {
  display: block;
}


@media(max-width: 767px) {
  .show-main-menu {
    overflow-y: hidden;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .show-main-menu body {
    padding-top: 59px;
  }
}

@media (max-width: 1198px) {
  .modal-cart-open .site-header {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .modal-cart-open body {
    padding-top: 59px;
  }

  .modal-cart-open .site-header--fixed,
  .show-main-menu .site-header--fixed {
    animation: none;
  }
}

@media (min-width: 1199px) {
  .overflow-hidden body {
    padding-right: 17px;
  }

  .overflow-hidden .site-header--fixed {
    padding-right: 17px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounceTop {
  0% {
    opacity: 0;
    transform: translateY(-400px);
  }

  50% {
    opacity: 0.5;
    transform: translateY(-200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceRight {
  0% {
    transform: translateX(1000px);
  }

  50% {
    transform: translateX(500px);
  }

  100% {
    transform: translateX(0);
  }
}
