:root {
  --document-height: 100vh;
}

* {
  box-sizing: inherit;

  *::after {
    box-sizing: inherit;
  }

  *::before {
    box-sizing: inherit;
  }
}

html {
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 320px;
  font-family: $base-font-family;
  color: $dark-blue;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.open-nav {
  position: fixed;
  width: 100%;
}
