:root {
  --document-height: 100vh;
}

* {
  box-sizing: inherit;

  *::after {
    box-sizing: inherit;
  }

  *::before {
    box-sizing: inherit;
  }
}

html {
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  font-family: $base-font-family;
  color: $dark-blue;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

main {
  flex: 1 0 auto;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input {
  appearance: none;
  cursor: pointer;
}

textarea {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-hidden body {
  position: fixed;
  width: 100%;
  padding-top: 59px;
}

@media (min-width: 768px) {
  .overflow-hidden {
    overflow: initial;
  }

  .overflow-hidden body {
    position: relative;
  }
}
