@mixin transition($property) {
  transition-property: $property;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-timing-function;
}

@mixin animation($property) {
  animation-name: $property;
  animation-duration: 0.5s;
  animation-timing-function: $animation-timing-function;
}
