$base-font-family: "Montserrat", arial, sans-serif;
$dark-blue: #252a37;
$white: #ffffff;
$gray: #ededed;
$black: rgb(4, 4, 4);
$beige-color: #fdf8f4;
$brown: #b78861;
$yellow: #ffda58;
$green: #60d06b;
$red: #d06060;

$animation-duration: 0.25s;
$animation-timing-function: ease;
