$base-font-family: "Montserrat", arial, sans-serif;
$dark-blue: #252a37;
$white: #ffffff;
$gray: #ededed;
$black: rgb(4, 4, 4);
$beige-color: #fdf8f4;
$brown: #B78861;

$animation-duration: 0.25s;
$animation-timing-function: ease;
